---
import Layout from "../layouts/Layout.astro";

export interface Props {
    metadata: {
        title: string;
        description: string;
        date: string;
        slug: string;
        image?: string | null;
        url?: string;
        hidden: boolean;
    };
}

const { metadata } = Astro.props;
---

<style>
    a {
        text-decoration: none;
        border-bottom: 1px solid var(--ayu-blue-500);
        color: var(--ayu-blue-500);
        transition:
            color 0.1s,
            border-color 0.1s;
        margin-bottom: 16px;
    }
    a:hover {
        color: var(--ayu-blue-600);
        border-color: var(--ayu-blue-600);
    }
</style>

<Layout
    currentPage={{
        title: `${metadata.title}`,
        path: `projects/${metadata.slug}`,
    }}
>
    <div class="text-md">
        <h1 class="text-2xl text-ayu-accent mb-2">
            {metadata.title}
        </h1>

        {
            metadata.image ? (
                <img
                    src={metadata.image}
                    alt={`${metadata.title} project icon`}
                    class="w-24 h-24 mb-4 rounded"
                />
            ) : (
                <div class="w-24 h-24 mb-4 border border-ayu-gutter rounded" />
            )
        }

        {
            metadata.url ? (
                <a
                    href={metadata.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-block text-sm"
                >
                    Try {metadata.title}
                </a>
            ) : null
        }

        <slot />

        <p class="text-sm text-ayu-gutter mt-4">{metadata.date}</p>
    </div>
</Layout>
